__pycache__/
*.py[cod
/ahk
/bin
/user
/logs
/venv
*.log
/pids
/src/config.json
/.cursor
/dist

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Package management
.packages_installed